body {
	background-color: #3b5998;
}

#clock {
	background-color: black;
	color: limegreen;
	margin: 0 auto;
	text-align: center;
	width: 30%;
	min-width: 350px;
	font-family: "Courier New", Courier;
}

h3 {
	font-size: 2em;
}